.special{
    padding:100px 20px;
    min-height:100vh;
    color:$white;
    font-family: Poppins;
    text-align: center;
    // background-image:
    //     linear-gradient(to bottom,#000 15%, transparent 30%, #000 110%),
    //     url('../assets/special.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__heading{
        font-size:60px;
        font-weight: normal;

        strong{
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    &__text{
        @include maxWidth(700px);
        line-height: 1.5;
        margin-top:30px;
    }
    &__heading-2{
        margin-top:40px;
        font-size:35px;
        font-weight: 400;
    }
}

@media screen and (min-width:500px){
    .special{
        padding-top: 150px;

        &__text,
        &__heading-2{
            margin-top: 80px;
        }
    }
}

@media screen and (min-width:900px){
    .special{
        // background-image: 
        //     linear-gradient(to right, #000 20%, transparent 30%, #000 105%),
        //     linear-gradient(to bottom,#000 15%, transparent 30%, #000 110%),
        //     url('../assets/special.jpg');;
        background-size: contain;

        &__heading{
            font-size: 80px;
        }
        &__text{
            font-size: 18px;
        }
        &__heading-2{
            font-size: 45px;
        }
    }
}