.special-2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height:90vh;
    position: relative;
    &::before,
    &::after{
        content:"";
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(0,0,0,.7);
    }
    &::before{
        top:0;
        height: 22vh;
    }
    &::after{
        bottom:0;
        height: 25vh;
    }
    &__content-1__text{
        @include absolute(10vh,auto,auto,50%,translateX(-50%));
        color:$white;
        font-size:25px;
        text-align: center;
        font-family: Poppins;
    }
    &__content__space{
        @include spaceBorder(43vh, 22vh);
    }
}
@media screen and (min-width:900px){
    .special-2{
        background-size: contain;
    }
}